<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <title>Editing [[${question.question}]] yet?</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/subdomain.css" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="shortcut icon" href="/favicon.ico" />
  </head>
  <body>
    <h1 th:text="|${question.question} yet?|" />

    <form
      action="/edit"
      method="POST"
      class="edit-form"
      th:action="@{/edit}"
      th:object="${question}"
    >
      <input type="hidden" th:field="*{subdomain}" />
      <div class="field-group" data-hint="The answer">
        <label for="answer" aria-label="Answer">
          <select th:field="*{answer}" id="answer" required>
            <option value="yes">Yes</option>
            <option value="no">No</option>
            <option value="maybe">Maybe</option>
          </select></label
        >
      </div>
      <div class="field-group password" th:unless="${question.editable}">
        <label for="password">
          Password:
          <input type="password" id="password" th:field="*{password}" />
        </label>
      </div>
      <div class="form-actions"><button type="submit">Update!</button></div>
    </form>

    <div th:replace="~{fragments/analytics.html :: plausible}"></div>
  </body>
</html>
