<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <title>...yet?</title>
    <link rel="stylesheet" href="/main.css" />
  </head>
  <body>
    <h1>...yet?</h1>
    <p>For eons people have asked similar questions</p>
    <ul>
      <li><a href="https://are-we-there.yet.news/">Are we there yet?</a></li>
      <li>
        <a href="https://is-it-beer-o-clock.yet.news/"
          >Is it beer o'clock yet?</a
        >
      </li>
      <li>
        <a href="https://has-lindsay-actually-launched-this-site.yet.news/"
          >Has Lindsay actually launched this site yet?</a
        >
      </li>
    </ul>
    <p>
      This service exists to provide simple answers to those, and any other
      questions you can think up
    </p>
    <p>
      <a href="/create">Get started</a>
    </p>
  </body>
</html>
