<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <title>…yet? - Latest & Most Updated</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/main.css" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="shortcut icon" href="/favicon.ico" />
  </head>
  <body>
    <h1><a href="/">…yet?</a> - Latest & Greatest</h1>

    <main class="lists">
      <div class="list">
        <h2>Recently created</h2>
        <ul>
          <li th:each="question : ${latest}">
            <a
              th:href="|https://${question.subdomain}${hostExtension}|"
              th:text="|${question.question} yet?|"
            ></a>
          </li>
        </ul>
      </div>
      <div class="list">
        <h2>Most updated</h2>
        <ul>
          <li th:each="question : ${greatest}">
            <a
              th:href="|https://${question.subdomain}${hostExtension}|"
              th:text="|${question.question} yet?|"
            ></a>
          </li>
        </ul>
      </div>
    </main>

    <div th:replace="~{fragments/analytics.html :: plausible}"></div>
  </body>
</html>
